{% extends 'base.html' %}
{% block title %}Регистрация — Маркетплейс нот{% endblock %}
{% block content %}
  <h2>Регистрация</h2>
  <form method="post">
    <div class="mb-3">
      <label class="form-label">Имя пользователя</label>
      <input name="username" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Пароль</label>
      <input name="password" type="password" class="form-control" required>
    </div>
    <button class="btn btn-success">Зарегистрироваться</button>
  </form>
{% endblock %}
